:root {
    --main-bg-color: #035397;
    --main-btn-color: #FFAA4C;
    --main-btn-hover-color: #ac7638;
    font-size: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--main-bg-color);
    color: white;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    /* padding: 0.5em; */
    font-size: 2vw;
}

.game-level-result {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-bottom: 0.5em;

}

.next-level {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    
}


/* Main Content Stuff here */
.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.main-content-left, .main-content-right {
    display: flex;
    justify-content: center;
}

.main-content-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 33%;
}

.main-content-middle img {
    height: 250px;
    width: 250px;
}

.main-start {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }

/* Languages Display */

.languages-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}

.languages-display img {
    width:25px;
    height:25px;
}


/* Footer Stuff */

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}


/* Buttons Stuff */
.btn {
    background-color: var(--main-btn-color);
    border-radius: 5px;
    font-size: 1em;
    padding: 30px;
    margin: 0 30px;
    min-width: 120px;
}

.btn:hover {
    background-color: var(--main-btn-hover-color);
} 

.left-btn, .right-btn {
    padding: 3vw;
    
}
.btn-white {
    color:white;
}
.btn-black {
    color:black;
}

.bottom-btns-div {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  justify-content: flex-end;
}

/*buuble for hints*/


.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
}
  
.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

/* About-us and how-to-play */

.body-alt {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0;
}

.header {
  width: 70%;
  height: 100px;
  margin: 50px auto;
  background: #FFAA4C;
  border-radius: 56.5px;

  font-size: 80px;
  line-height: 100px    ;
  text-align: center;
  color: black;
}

.misc-text {
  width: 80%;
  margin: 1.5rem auto;
  font-size: 1.5rem;
  line-height: 45px;
}

.misc-text li {
    font-size:1.5rem;
}
